Repository cofiem/repo-browser, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, tests, source

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - dev-requirements.in
          - dev-requirements.txt
          - requirements.txt
          - requirements.in
          - Dockerfile
          - docker-compose.yml

tests:
  - changed-files:
      - any-glob-to-any-file:
          - '**/tests/**/*'

source:
  - changed-files:
      - any-glob-to-any-file:
        - discover/**/*
        - examine/**/*
        - intrigue/**/*

add renovatebot config
  renovate.json
Labels: none

improve local dev using docker
  .dockerignore
  .gitignore
  CHANGELOG.md
  CONTRIBUTING.md
  Dockerfile
  bin/upgrade-deps.sh
  docker-compose.yml
Labels: dependencies

more example repos
  discover/templates/discover/index.html
Labels: source

update deps
  requirements.in
  requirements.txt
Labels: dependencies

activate the renovatebot manager for pip-compile
  renovate.json
Labels: none

fix docs
  CONTRIBUTING.md
Labels: none

fix renovatebot config
  renovate.json
Labels: none

this is not a python package so don't try to build it
  .github/workflows/code-analysis.yml
Labels: none

enable running tests
  .dockerignore
  CONTRIBUTING.md
  bin/upgrade-deps.sh
  dev-requirements.in
  dev-requirements.txt
  intrigue/tests/test_apt.py
  pytest.ini
Labels: dependencies, tests, source

fix local dev
  Dockerfile
  docker-compose.yml
  examine/settings.py
  examine/urls.py
Labels: dependencies, source

work in progress
  CONTRIBUTING.md
  discover/templates/discover/index.html
  discover/templates/discover/repository.html
  discover/views.py
  examine/urls.py
  intrigue/apt/find.py
  intrigue/apt/landmark.py
  intrigue/apt/models.py
  intrigue/apt/operations.py
  intrigue/apt/utils.py
  intrigue/gpg/message_armor_radix64.py
  intrigue/gpg/message_native.py
  intrigue/gpg/models.py
  intrigue/http_client.py
  intrigue/resources/repos-apt.csv
  intrigue/tests/test_apt.py
  intrigue/utils.py
Labels: tests, source

work in progress
  CONTRIBUTING.md
  discover/applib/__init__.py
  discover/applib/view_helper.py
  discover/forms.py
  discover/templates/discover/base.html
  discover/templates/discover/index.html
  discover/templates/discover/item.html
  discover/templates/discover/repository.html
  discover/templates/discover/repository_form.html
  discover/urls.py
  discover/views.py
  docker-compose.yml
  intrigue/apt/models.py
  intrigue/apt/operations.py
  intrigue/apt/resource.py
  intrigue/apt/utils.py
  intrigue/http_client.py
  intrigue/resources/known.csv
  intrigue/resources/repos-apt.csv
  intrigue/tests/test_apt.py
  intrigue/tests/test_apt_ops.py
  intrigue/tests/test_apt_resource.py
  intrigue/utils.py
Labels: dependencies, tests, source

work in progress
  discover/applib/view_helper.py
  discover/templates/discover/repository.html
  discover/views.py
  examine/settings.py
  intrigue/apt/find.py
Labels: source

Delete .github/CODEOWNERS
  .github/CODEOWNERS
Labels: none
